.Team_info {
    width: 400px;
    height: 87px;
    left: 736px;
    top: 147px;
}

.title {
    width: 500px;
    height: 47px;
    margin-left: 120px;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

.top {
    display: flex;
    justify-content: flex-start;
    height: 30%;
}

.Team_info {

    margin-left: 180px;
}

.Description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}
.team {
    height: 70%;
    margin-left: 0;
    justify-content: left;
}
.img-pocket {
    display: flex;
    flex-direction: column;
    position: relative;
}

.iprofile {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: min-content;
}
.sub-title {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: black;

}
.profile {
    writing-mode: vertical-lr;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    align-content: start;
    position: relative;
    margin-left: 0%;
}

#two {

    margin-top: 50px
}

#five {
    margin-top: 100px;
}
.row1 {

    margin-top: 100px;
    justify-content: center;
    display: flex;
}

.row2 {
    justify-content: center;
    display: flex;

}
.name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
    padding-left: 100px;
}
.nameleft {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;

}

.img1 {
    width: 238px;
    height: 290px;
}

.img2 {
    margin-left: 100PX;
    margin-top: 50px;
    width: 240px;
    height: 280;
}


.img3 {


    margin-left: 100PX;
    height: 280px;
    width: 238px;

}

.img4 {

    height: 270px;
    width: 238px;

}

.img5 {


    margin-left: 100px;
    margin-top: 100px;
    height: 280px;
    width: 250px;
}

.img6 {

    margin-left: 100px;
    height: 290px;
    width: 245px;
}

footer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    text-align: center;
}

@media only screen and (max-width: 1080px) {


    .title {

        margin-right: 250px;
        margin-bottom: 50px;

        font-family: 'PT Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 48px;
        letter-spacing: -0.045em;

        color: #000000;
    }

    .Team_info {

        justify-content: center;
        margin-right: 400px;
        margin-top: 50px;
    }

    .name {
        padding: right 500px;
    }

    .nameleft {
        padding-left: 50px;
    }

    .team {

        height: 70%;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        justify-items: center;

    }

    .top {

        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;

    }

    #one {
        margin-top: 30px;
    }

    #two {}

    #three {
        margin-top: 30px;
    }

    #four {
        margin-top: 85px;
    }

    #five {
        margin-top: 35px;
    }

    #six {
        margin-top: 30px;
    }


    .row1 {

        margin-top: 100px;
        justify-content: center;
        display: flex;
        flex-direction: column;

    }

    .row2 {
        justify-content: center;
        display: flex;
        flex-direction: column;



    }

    .img1 {

        width: 238px;
        height: 290px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .img2 {


        margin-left: 50px;
        margin-top: 30px;
        width: 240px;
        height: 280;
        left: 534.64px;
        top: 396px;


    }

    .img3 {


        margin-left: 50px;
        margin-top: 30px;

        top: 478px;
        left: 350px;
        height: 280px;
        width: 238px;

    }

    .img4 {



        margin-left: 50px;
        margin-top: 85px;
        height: 270px;
        width: 238px;

    }

    .img5 {


        margin-left: 50px;
        margin-top: 30px;

        top: 478px;
        left: 350px;
        height: 280px;
        width: 250px;
    }

    .img6 {


        margin-left: 50px;
        margin-top: 30px;


        top: 478px;
        left: 350px;

        height: 290px;
        width: 245px;
    }

}

@media only screen and (max-width: 720px) {

    .team {

        height: 70%;
        margin-left: 0;
        display: flex;
        justify-content: space-around;
        margin-left: 10px;

    }

    .top {

        display: flex;
        flex-direction: column;
        margin-left: 250px;

    }

    .title {

        align-items: center;

    }

    .Team_info {

        justify-content: space-around;

        width: 350px;

    }

    .img-pocket {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -200px;
    }

    .name {
        padding-right: 20px;
    }

    .nameleft {
        padding-left: 50px;
    }

    .team {

        justify-content: space-around;
    }

    .row1 {

        margin-top: 100px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .row2 {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;



    }

    .img1 {

        height: 200%;
        width: 200%;
        object-fit: contain;
        margin-top: 30px;


    }

    .img2 {


        margin-left: 50px;
        margin-top: 30px;
        height: 200%;
        width: 200%;
        object-fit: contain;



    }

    .img3 {


        margin-left: 30px;
        margin-top: 30px;

        height: 250%;
        width: 250%;
        object-fit: cover;;

    }

    .img4 {

        margin-left: 30px;
        margin-top: 85px;
        height: 250%;
        width: 250%;
        object-fit: cover;
    }

    .img5 {


        margin-left: 30px;
        margin-top: 30px;


        height: 250%;
        width: 250%;
        object-fit: cover;
    }

    .img6 {

        margin-left: 30px;
        margin-top: 30px;
        height: 250%;
        width: 250%;
        object-fit: cover;
    }



}

@media only screen and (max-width: 450px) {

    .top {
        display: flex;
        flex-direction: column;
        margin-left: 250px;
    }

    .title {
        align-items: center;
        width: 300px;
        margin-right: 350px;
    }

    .row2 {

        margin-left: 30px;
        margin-right: -40PX;
    }

    .nameleft {
        margin-left: 70px;
    }
    
   .img-pocket{
    display: flex;
    flex-direction: column;
   }
    .Team_info {
        justify-content: space-around;
        margin-left: 100px;
        width: 250px;
    }

    .team {
        margin-left: 20px;
        justify-content: space-around;
    }

    .img1 {
        height: 150%;
        width: 150%;
        object-fit: contain;
        margin-top: 30px;
    }

    .img2 {
        margin-left: 50px;
        margin-top: 30px;
        height: 150%;
        width: 150%;
        object-fit: contain;
    }

    .img3 {
        margin-left: 40px;
        margin-top: 30px;
        height: 170%;
        width: 170%;
        object-fit: cover;
    }

    .img4 {
        margin-left: 30px;
        margin-top: 85px;
        height: 170%;
        width: 170%;
        object-fit: cover;
    }

    .img5 {
        margin-left: 30px;
        margin-top: 30px;
        height: 170%;
        width: 170%;
        object-fit: cover;
    }

    .img6 {
        margin-left: 30px;
        margin-top: 30px;
        height: 170%;
        width: 170%;
        object-fit: cover;
    }

}
@media only screen and (max-width: 360px) {

}